body {
	background-color:  #232323;
	font-family: "Montserrat";
}

h1 {
	text-align: center;
	color: white;
	background: steelblue;
	margin: 0 0 0 0;
	font-weight: normal;
	text-transform: uppercase;
	padding: 20px 0 20px 0;
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	outline: none;
}

button:hover {
	background: steelblue;
	color: white;
}

.square {
	width: 30%;
	background: Gold;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	transition: background 0.5s;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
}

.container {
	margin: 20px auto 20px auto;
	max-width: 600px;
}

.selected {
	background: steelblue;
	color: white;
}

#msg {
	display: inline-block;
	width: 20%; 
}

#btn_bar {
	text-align: center;
	height: 30px;
	background: white;
}

#Ans_Color {
	font-size: 200%;
}
